@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

.fade-section {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.5s ease-out;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
}
